.transfer-creation-panel {
  background-color: #eae4ff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.transfer-creation-panel-inputs {
  display: flex;
  justify-content: flex-start;
}

.transfer-input-field {
  display: inline-block;
  font-size: 14px;
  max-width: 200px;
  min-width: 40vw;
  margin: 0 20px;
}

.transfer-button {
  margin: 20px 20px 0px;
  align-self: flex-start;
}