.app {
  font-family: 'Roboto', sans-serif;
}

.app-header {
  background-color: #aec6cf;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.app-contents {
  margin: 0 20px;
}

.instructions {
  font-style: bold;
}